<launch>
    <param name="use_sim_time" type="bool" value="true"/>
    <node 
        pkg="tf" 
        type="static_transform_publisher" 
        name="frontscan2velodyne_link" 
        args="0 0 0 0 0 0 1 front_mount velodyne 100" 
    />
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(find sensors_lab)/rosbags/laserscan.bag"/>
</launch>